@charset "UTF-8";
/*** Colors ***/
/*** Mixin ***/
/*** Keyframes ***/
@keyframes menu_appears {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes loader_charge {
  0% {
    background-position: 0%;
  }
  20% {
    background-position: 33%;
  }
  40% {
    background-position: 66%;
  }
  60% {
    background-position: 100%;
  }
  80% {
    background-position: 66%;
  }
  100% {
    background-position: 33%;
  }
}
@keyframes loader_end {
  0% {
    opacity: 1;
    z-index: 1;
  }
  50% {
    opacity: 0.8;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
/*** Général ***/
* {
  margin: 0;
  font-family: roboto, sans-serif;
}

body {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 780px) {
  body {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-left: 20px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*** Bouton Linear Gradient Homepage et Page Menu ***/
.intro_btn-gradient, .menu_btn-gradient {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

.intro_btn-gradient:hover, .menu_btn-gradient:hover {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}

/*** Coeurs Homepage et Page Menu ***/
.fa-heart {
  position: absolute;
  padding: 1px;
  transition: opacity 0.5s ease-in-out;
}

.heart_btn-bg {
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356dc, #FF79DA);
}

.heart_btn:hover .fa-heart {
  transition: 0.5s;
  cursor: pointer;
}
.heart_btn:hover .heart_btn-bg {
  opacity: 1;
}
.heart_btn:hover .heart_btn-nobg {
  opacity: 0;
}

/*** Menu Card Animation ***/
.menu_card-1 {
  animation: menu_appears 2s ease-in-out;
}

.menu_card-2 {
  animation: menu_appears 2.2s ease-in-out;
}

.menu_card-3 {
  animation: menu_appears 2.4s ease-in-out;
}

.menu_card-4 {
  animation: menu_appears 2.6s ease-in-out;
}

.menu_card-5 {
  animation: menu_appears 2.8s ease-in-out;
}

.menu_card-6 {
  animation: menu_appears 3s ease-in-out;
}

.menu_card-7 {
  animation: menu_appears 3.2s ease-in-out;
}

.menu_card-8 {
  animation: menu_appears 3.4s ease-in-out;
}

.menu_card-9 {
  animation: menu_appears 3.6s ease-in-out;
}

/*** Menu Card Coche ***/
.menu_card_content {
  width: calc(100% - 40px);
  transition: width 0.4s ease-in-out;
}

.menu_card_content:hover {
  width: calc(100% - 120px);
  cursor: pointer;
}

/*** Loader ***/
.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: -1;
  animation: loader_end 3s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .loader_logo {
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(to right, #9356dc, #FF79DA, #99E2D0);
  padding: 10px;
  font-size: 50px;
  font-family: shrikhand;
  background-size: 400% 100%;
  animation: loader_charge 2s linear infinite;
}

/*** restaurants ***/
.restaurants {
  background-color: #F6F6F6;
  padding-top: 30px;
}
.restaurants .restaurants_list {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants_list .restaurant_card {
  padding: 0;
  width: 100%;
  height: 220px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.restaurants .restaurants_list .restaurant_card .restaurant_card_img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .restaurants_list .restaurant_card .restaurant_card_badge-new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  border-radius: 3px;
}
.restaurants .restaurants_list .restaurant_card .restaurant_card_content {
  margin: 10px;
}
.restaurants .restaurants_list .restaurant_card .restaurant_card_btn {
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: initial;
}

@media (min-width: 780px) {
  .restaurants_container {
    max-width: 1200px;
    margin: auto;
    flex-direction: row;
  }
  .restaurants_container .restaurants_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}
/*** fonctionnement ***/
.fonctionnement {
  background-color: white;
}
.fonctionnement .fonctionnement_list {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}
.fonctionnement .fonctionnement_list .fonctionnement_card {
  background-color: #F6F6F6;
  padding: 25px 15px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.fonctionnement .fonctionnement_list .fonctionnement_card-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  position: absolute;
  left: -12px;
  border-radius: 100px;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #9356dc;
  color: white;
}
.fonctionnement .fonctionnement_list .fonctionnement_card i {
  padding: 0 5%;
  color: #7E7E7E;
}
.fonctionnement .fonctionnement_list .fonctionnement_card:hover i {
  color: #9356dc;
}
@media (min-width: 780px) {
  .fonctionnement {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
  .fonctionnement .fonctionnement_list {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .fonctionnement .fonctionnement_card {
    width: 28%;
  }
}

/*** intro ***/
.intro {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
.intro .intro_title {
  font-size: 1.5em;
  margin: 0 45px 10px;
}
.intro .intro_text {
  margin: 0 20px 40px;
  opacity: 0.7;
}
.intro .intro_btn-gradient {
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 25px;
  padding: 15px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 780px) {
  .intro .intro_title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .intro .intro_text {
    font-size: 18px;
  }
}

/*** location ***/
.location {
  background-color: #EAEAEA;
  padding: 10px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.location .location_search {
  border: none;
  background-color: #EAEAEA;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 780px) {
  .location {
    box-shadow: none;
    padding: 10px;
  }
}

/*** Header ***/
header {
  z-index: 1;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
@media (min-width: 780px) {
  header {
    box-shadow: none;
  }
}
header .header_logo {
  padding: 15px 0 5px;
  width: 200px;
}
@media (min-width: 780px) {
  header .header_logo {
    padding: 25px;
  }
}

/*** footer ***/
footer {
  background-color: #353535;
  padding: 20px;
}
footer .footer_title {
  font: 400 20px "shrikhand";
  color: white;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li i {
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
}
footer li, footer li a {
  color: white;
  margin-bottom: 5px;
}
@media (min-width: 780px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 4px;
  }
  footer ul {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
  }
  footer .footer_title {
    margin: 15px;
    margin-left: 40px;
  }
}

.menu_main {
  background-color: #F6F6F6;
  margin-top: -50px;
  padding-top: 25px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
@media (min-width: 780px) {
  .menu_main {
    max-width: 1200px;
    margin: -50px auto;
  }
}
.menu_main .menu_main_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.menu_main .menu_main_div .menu_main_div_title {
  font-family: Shrikhand;
  font-weight: 400;
  margin: 0;
}
.menu_main .menu_main_div .menu_main_div_btn {
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: initial;
}
.menu_main .menu_section {
  padding-top: 0;
  text-align: center;
}
@media (min-width: 780px) {
  .menu_main .menu_section {
    max-width: 780px;
    margin: 0 auto;
  }
}
.menu_main .menu_section .menu_section_title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.menu_main .menu_section .menu_card {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #99E2D0;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  gap: 5px;
  overflow: hidden;
}
.menu_main .menu_section .menu_card .menu_card_content {
  padding: 20px;
  background-color: white;
  position: relative;
}
.menu_main .menu_section .menu_card .menu_card_content h4 {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_main .menu_section .menu_card .menu_card_content .menu_card_content_priceline {
  display: flex;
  justify-content: space-between;
}
.menu_main .menu_section .menu_card .menu_card_content .menu_card_content_priceline p {
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu_main .menu_section .menu_card .menu_card_content .menu_card_content_priceline .menu_price {
  font-weight: bold;
  font-size: 16px;
  overflow: visible;
}
.menu_main .menu_section .menu_card .menu_card_content .fa-circle-check {
  position: absolute;
  color: white;
  padding: 25px;
  top: 0px;
  right: -2.5em;
}

.menu_btn-gradient {
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 25px;
  padding: 15px 50px;
  margin-top: 30px;
  border: none;
  font-size: large;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

/*** Menu header ***/
.header .header_arrow {
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (min-width: 780px) {
  .header .header_arrow {
    top: 28px;
    left: 25px;
  }
}

.menu_bg_restaurants {
  max-width: 100%;
  max-height: 515px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 780px) {
  .menu_bg_restaurants {
    max-height: 600px;
    width: 100%;
  }
}

@media (min-width: 780px) {
  .menu_footer {
    margin-top: 50px;
  }
}/*# sourceMappingURL=main.css.map */