@charset "UTF-8";
/*** Colors ***/
/*** Mixin ***/
/*** Keyframes ***/
@keyframes Menu_Appears {
  0% {
    opacity: 0;
    transform: translate(100%);
  }
}
/*** Général ***/
* {
  margin: 0;
  font-family: roboto, sans-serif;
}

body {
  max-width: 780px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 780px) {
  body {
    max-width: 100%;
  }
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  margin-left: 20px;
}

section {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*** Bouton Linear Gradient Homepage et Page Menu ***/
.intro-btn:hover, .menu_btn:hover {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}

/*** Coeurs Homepage et Page Menu ***/
.fa-heart {
  position: absolute;
  padding: 1px;
}

.heart_bg {
  opacity: 0;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  background-image: linear-gradient(#9356dc, #FF79DA);
}

.heart_btn:hover .fa-heart {
  transition: 0.5s;
}
.heart_btn:hover .heart_bg {
  opacity: 1;
}
.heart_btn:hover .heart_nobg {
  opacity: 0;
}

/*** Menu Card Animation ***/
.menu_card {
  animation: Menu_Appears 2s ease-in-out;
}

.menu_card2 {
  animation: Menu_Appears 2.2s ease-in-out;
}

.menu_card3 {
  animation: Menu_Appears 2.4s ease-in-out;
}

.menu_card4 {
  animation: Menu_Appears 2.6s ease-in-out;
}

.menu_card5 {
  animation: Menu_Appears 2.8s ease-in-out;
}

.menu_card6 {
  animation: Menu_Appears 3s ease-in-out;
}

.menu_card7 {
  animation: Menu_Appears 3.2s ease-in-out;
}

.menu_card8 {
  animation: Menu_Appears 3.4s ease-in-out;
}

.menu_card9 {
  animation: Menu_Appears 3.6s ease-in-out;
}

/*** Menu Card Coche ***/
.menu_card_content {
  width: calc(100% - 40px);
  transition: width 0.4s ease-in-out;
}

.menu_card_content:hover {
  width: calc(100% - 120px);
}

/*** restaurants ***/
.restaurants {
  background-color: #F6F6F6;
  padding-top: 30px;
}
.restaurants .restaurants_cards {
  margin: 20px 15px;
  display: flex;
  flex-direction: column;
}
.restaurants .restaurants_cards .card {
  padding: 0;
  width: 100%;
  height: 220px;
  margin-top: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
}
.restaurants .restaurants_cards .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 150px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .restaurants_cards .card-content {
  margin: 10px;
}
.restaurants .restaurants_cards .card-btn {
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: initial;
}
.restaurants .card_new {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 12px;
  border-radius: 3px;
}

@media (min-width: 780px) {
  .restaurants_div {
    max-width: 1200px;
    margin: auto;
    flex-direction: row;
  }
  .restaurants_div .restaurants_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }
}
/*** fonctionnement ***/
.fonctionnement {
  counter-reset: compteListe;
}
.fonctionnement .fonctionnement_list {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  list-style: none;
  padding-left: 0;
}
.fonctionnement .fonctionnement_list .fonctionnement_cards {
  background-color: #F6F6F6;
  padding: 25px 15px;
  margin-top: 20px;
  margin-left: 15px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
.fonctionnement .fonctionnement_list .fonctionnement_cards::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  position: absolute;
  border-radius: 100px;
  padding-left: 0;
  width: 1.5rem;
  height: 1.5rem;
  left: -0.75rem;
  bottom: 20px;
  counter-increment: compteListe;
  content: counter(compteListe) "";
  background: #9356dc;
  color: white;
}
.fonctionnement .fonctionnement_list .fonctionnement_cards i {
  padding: 0 20px;
  color: #7E7E7E;
}
@media (min-width: 780px) {
  .fonctionnement {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
  }
  .fonctionnement .fonctionnement_list {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
  }
  .fonctionnement .fonctionnement_cards {
    width: 28%;
  }
}

/*** intro ***/
.intro {
  background-color: #F6F6F6;
  padding-top: 30px;
  padding-bottom: 50px;
  text-align: center;
}
.intro .intro-title {
  font-size: 1.5em;
  margin: 0 45px 10px;
}
.intro .intro-text {
  margin: 0 20px 40px;
  opacity: 0.7;
}
.intro .intro-btn {
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 25px;
  padding: 15px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}
@media (min-width: 780px) {
  .intro .intro-title {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .intro .intro-text {
    font-size: 18px;
  }
}

/*** location ***/
.location {
  background-color: #EAEAEA;
  padding: 10px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.location .location_search {
  border: none;
  background-color: #EAEAEA;
  text-align: center;
  font-weight: bold;
}
@media (min-width: 780px) {
  .location {
    box-shadow: none;
    padding: 10px;
  }
}

/*** Header ***/
header {
  z-index: 1;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
header .logo {
  padding: 15px 0 5px;
  width: 200px;
}
@media (min-width: 780px) {
  header {
    box-shadow: none;
  }
  header .logo {
    padding: 25px;
  }
}

/*** footer ***/
footer {
  background-color: #353535;
  padding: 20px;
}
footer h4 {
  font: 400 20px "shrikhand";
  color: white;
  margin-bottom: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li i {
  margin-right: 10px;
  font-size: 15px;
  width: 15px;
}
footer li, footer li a {
  color: white;
  margin-bottom: 5px;
}
@media (min-width: 780px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    padding-bottom: 4px;
  }
  footer ul {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
  }
  footer h4 {
    margin: 15px;
    margin-left: 40px;
  }
}

.bg_restaurants {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 780px) {
  .bg_restaurants {
    max-height: 600px;
    width: 100%;
  }
}

.main_menu {
  background-color: #F6F6F6;
  margin-top: -50px;
  padding-top: 25px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
@media (min-width: 780px) {
  .main_menu {
    max-width: 1200px;
    margin: -50px auto;
  }
}
.main_menu .title_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.main_menu .title_div .main_title {
  font-family: Shrikhand;
  font-weight: 400;
  margin: 0;
}
.main_menu .title_div .main_menu_btn {
  height: 2rem;
  width: 2rem;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: initial;
}
.main_menu .menu {
  padding-top: 0;
  text-align: center;
}
@media (min-width: 780px) {
  .main_menu .menu {
    max-width: 780px;
    margin: 0 auto;
  }
}
.main_menu .menu .menu_div {
  max-width: 780px;
}
.main_menu .menu .menu_div .section_title {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 4px solid #99E2D0;
  padding-bottom: 5px;
  width: 40px;
  margin-top: 50px;
  margin-bottom: 15px;
}
.main_menu .menu .menu_div .menu_card {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #99E2D0;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  gap: 5px;
  overflow: hidden;
}
.main_menu .menu .menu_div .menu_card .menu_card_content {
  padding: 20px;
  background-color: white;
  position: relative;
}
.main_menu .menu .menu_div .menu_card .menu_card_content h4 {
  font-size: 18px;
  font-weight: bold;
}
.main_menu .menu .menu_div .menu_card .menu_card_content .menu_priceline {
  display: flex;
  justify-content: space-between;
}
.main_menu .menu .menu_div .menu_card .menu_card_content .menu_priceline p {
  font-weight: 300;
  font-size: 15px;
}
.main_menu .menu .menu_div .menu_card .menu_card_content .menu_priceline .menu_price {
  font-weight: bold;
  font-size: 16px;
}
.main_menu .menu .menu_div .menu_card .menu_card_content .fa-circle-check {
  position: absolute;
  color: white;
  padding: 25px;
  top: 0px;
  right: -2.5em;
}
.main_menu .menu_btn {
  color: white;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356dc);
  border-radius: 25px;
  padding: 15px 50px;
  margin-top: 30px;
  border: none;
  font-size: large;
  position: relative;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

/*** Menu header ***/
.menu_header i {
  position: absolute;
  top: 15px;
  left: 15px;
}
@media (min-width: 780px) {
  .menu_header i {
    top: 28px;
    left: 25px;
  }
}

@media (min-width: 780px) {
  .menu_footer {
    margin-top: 50px;
  }
}/*# sourceMappingURL=main.css.map */