   /*** Bouton Linear Gradient Homepage et Page Menu ***/
.intro_btn-gradient, .menu_btn-gradient {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.intro_btn-gradient:hover, .menu_btn-gradient:hover {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}
   /*** Coeurs Homepage et Page Menu ***/ 
.fa-heart {
  position: absolute;
  padding: 1px;
  transition: opacity 0.5s ease-in-out;
}
.heart_btn-bg {
  opacity: 0;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient($colormain, $colorsecond);
}
.heart_btn:hover {
   .fa-heart {
      transition: 0.5s;
      cursor: pointer;
   }
   .heart_btn-bg {
      opacity: 1;      
   }
   .heart_btn-nobg {
      opacity: 0;            
   }
}
/*** Menu Card Animation ***/
.menu_card-1 {
   animation: menu_appears 2s ease-in-out;
 }
 .menu_card-2 {
   animation: menu_appears 2.2s ease-in-out;
 }
 .menu_card-3 {
   animation: menu_appears 2.4s ease-in-out;
 }
 .menu_card-4 {
   animation: menu_appears 2.6s ease-in-out;
 }
 .menu_card-5 {
   animation: menu_appears 2.8s ease-in-out;
 }
 .menu_card-6 {
   animation: menu_appears 3s ease-in-out;
 }
 .menu_card-7 {
   animation: menu_appears 3.2s ease-in-out;
 }
 .menu_card-8 {
   animation: menu_appears 3.4s ease-in-out;
 }
 .menu_card-9 {
   animation: menu_appears 3.6s ease-in-out;
 }
/*** Menu Card Coche ***/  
.menu_card_content {
  width: calc(100% - 40px);
  transition: width 0.4s ease-in-out ;
}
.menu_card_content:hover {
  width: calc(100% - 120px);
  cursor: pointer;
}
/*** Loader ***/
.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba($color: white, $alpha: 1);
  z-index: -1;
  animation: loader_end 3s linear;
  @include flex-center ;
  .loader_logo {
    color: transparent;
    background-clip:text ;
    background-image: linear-gradient(to right, $colormain, $colorsecond, $colorthird);
    padding: 10px;
    font-size: 50px;
    font-family: shrikhand;
    background-size: 400% 100%;
    animation: loader_charge 2s linear infinite;
  }
}

