   /*** Bouton Linear Gradient Homepage et Page Menu ***/
.intro-btn, .menu_btn {
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}
.intro-btn:hover, .menu_btn:hover {
  opacity: 0.7;
  transition: 0.4s ease-in-out;
}
   /*** Coeurs Homepage et Page Menu ***/ 
.fa-heart {
  position: absolute;
  padding: 1px;
  transition: opacity 0.5s ease-in-out;
}
.heart_bg {
  opacity: 0;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient($colormain, $colorsecond);
}
.heart_btn:hover {
   .fa-heart {
      transition: 0.5s;
      cursor: pointer;
   }
   .heart_bg {
      opacity: 1;      
   }
   .heart_nobg {
      opacity: 0;            
   }
}
/*** Menu Card Animation ***/
.menu_card {
   animation: Menu_Appears 2s ease-in-out;
 }
 .menu_card2 {
   animation: Menu_Appears 2.2s ease-in-out;
 }
 .menu_card3 {
   animation: Menu_Appears 2.4s ease-in-out;
 }
 .menu_card4 {
   animation: Menu_Appears 2.6s ease-in-out;
 }
 .menu_card5 {
   animation: Menu_Appears 2.8s ease-in-out;
 }
 .menu_card6 {
   animation: Menu_Appears 3s ease-in-out;
 }
 .menu_card7 {
   animation: Menu_Appears 3.2s ease-in-out;
 }
 .menu_card8 {
   animation: Menu_Appears 3.4s ease-in-out;
 }
 .menu_card9 {
   animation: Menu_Appears 3.6s ease-in-out;
 }
/*** Menu Card Coche ***/  
.menu_card_content {
  width: calc(100% - 40px);
  transition: width 0.4s ease-in-out ;
}
.menu_card_content:hover {
  width: calc(100% - 120px);
  cursor: pointer;
}
/*** Loader ***/
.loader {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:rgba($color: white, $alpha: 0.80);
  z-index: -1;
  animation: loader_end 3s linear;
  @include flex-center ;
  .loader_bar {
    color: transparent;
    background-clip:text ;
    background-image: linear-gradient(to right, $colormain, $colorsecond, $colorthird);
    padding: 10px;
    font-size: 50px;
    font-family: shrikhand;
    background-size: 400% 100%;
    animation: loader_charge 2s linear infinite;
  }
}

