/*** Colors ***/ 
$backgroundgrey: #F6F6F6 ;
$backgroundlocation: #EAEAEA ;
$backgroundfooter: #353535;
$Fontnewcolor: #008766 ;
$colormain: #9356dc ;
$colorsecond: #FF79DA ;
$colorthird: #99E2D0 ;
/*** Mixin ***/ 
@mixin bottom-shadow {
   position: relative;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10) ;
}
@mixin shadow-none {
   box-shadow: none;
}
@mixin btn-lineargradient($padding) {
   color: white;
   font-weight: 500;
   background: linear-gradient($colorsecond, $colormain);
   border-radius: 25px;
   padding: $padding;
}
@mixin flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}
@mixin flex-column {
   display: flex;
   flex-direction: column;
}
@mixin text-overflow {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
/*** Keyframes ***/ 
@keyframes Menu_Appears {
   0% {
      opacity: 0;
      transform: translate(100%);
   }
}
@keyframes loader_charge {
   0% {
      background-position: 0%;
   }
   20% {
      background-position: 33%
   }
   40% {
      background-position: 66%;
   }
   60% {
      background-position: 100%;
   }
   80% {
      background-position: 66%;
   }
   100% {
      background-position: 33%;
   }
 }

@keyframes loader_end {
   0% {
      opacity: 1;
      z-index: 1;
   }
   33% {
      opacity: 0.9;
      z-index: 1;
   }
   50% {
      opacity: 0.75;
      z-index: 1;
   }
   100% {
      opacity: 0;
      z-index: 1;
   }
}