$bgcolor: #F6F6F6 ;
$locationcolor: #EAEAEA ;

@mixin bottom-shadow {
   position: relative;
   box-shadow: 0 5px 5px rgba(0, 0, 0, 0.10) ;
}

* {
   margin: 0;
   font-family: roboto, sans-serif;
}

body {
   max-width: 780px ;
   width: 100%;
   
}

a {
   text-decoration: none;
   color: black;
}

header {  
   z-index: 1;
   @include bottom-shadow();
   text-align: center;
   .logo {
      padding: 15px 0 5px;
      width: 200px;
   }
}

.location {
   background-color: $locationcolor;
   padding: 10px;
   @include bottom-shadow();
   text-align: center;
   .location_search {
      border: none;
      background-color: $locationcolor;
      text-align: center;
      font-weight: bold;
   }
}

.intro {
   background-color: $bgcolor;
   padding-top: 30px;
   padding-bottom: 50px;
   text-align: center;
   .intro-title {
      font-size: 1.5em;
      margin: 0 45px 10px;
   }
   .intro-text {
      margin: 0 20px 40px;
      opacity: 0.7;
   }
   .intro-btn {
      color: white;
      font-weight: 500;
      padding: 15px;
      background: linear-gradient(#FF79DA, #9356DC);
      border-radius: 25px;
      @include bottom-shadow();
   }
}

.fonctionnement {
   padding-top: 30px;
   padding-left: 20px;
   counter-reset: compteListe;
   .fonctionnement_list {   
      display: flex;
      flex-direction: column;
      font-size: 18px ;
      font-weight: bold;
      list-style: none;
      padding-left: 0;
      .fonctionnement_cards {
         background-color: $bgcolor;
         padding: 25px 15px;
         margin: 15px 20px 5px 10px;
         border-radius: 10px;
         @include bottom-shadow()
      }
      .fonctionnement_cards::before {
         display: flex;
         justify-content: center;
         font-size: 0.8rem;
         align-items: center;
         position: absolute;
         border-radius: 100px;
         padding-left: 0;
         width: 1.5rem;
         height: 1.5rem;
         left: -0.75rem;
         bottom: 20px;
         counter-increment: compteListe;
         content: counter(compteListe) "";
         background: #9356dc;
         color: white;
      }
      .fonctionnement_cards i {
         padding: 0 20px;
         color: #7E7E7E;
      }
   }
}