/*** fonctionnement ***/ 

.fonctionnement {
   background-color: white;
   .fonctionnement_list {   
      margin: 0 20px;
      @include flex-column ;
      font-size: 18px ;
      font-weight: bold;
      list-style: none;
      padding-left: 0;
      .fonctionnement_card {
         background-color: $backgroundgrey;
         padding: 25px 15px;
         margin-top: 20px;
         margin-left: 15px;
         border-radius: 10px;
         @include bottom-shadow() ;
      }
      .fonctionnement_card-number {
         @include flex-center ;
         font-size: 0.8rem;
         position: absolute;
         left: -12px;
         border-radius: 100px;
         width: 1.5rem;
         height: 1.5rem;
         background-color: $colormain;
         color: white;
      }
      .fonctionnement_card i {
         padding: 0 5%;
         color: #7E7E7E;
      }
   }
   @media (min-width: 780px) {
      width: 1200px;
      max-width: 100%;
      margin: 0 auto;
      .fonctionnement_list {
         flex-direction: row;
         justify-content: space-around;
         margin: 0;
      }
      .fonctionnement_card {
         width: 28%;
      }
   }
}