/*** footer ***/ 

footer {
   background-color: $backgroundfooter;
   padding: 20px;

   h4 {
      font: 400 20px "shrikhand";
      color: white;
      margin-bottom: 20px;
   }
   ul {
      list-style: none;
      padding: 0;
   }
   li i{
      margin-right: 10px;
      font-size: 15px;
      width: 15px;
   }
   li, li a {
      color: white;
      margin-bottom: 5px;
   }
   @media (min-width: 780px) {
      
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      padding-bottom: 4px;
      ul {
         display: flex;
         gap: 30px;
         margin-bottom: 15px;
      }
      h4 {
         margin: 15px;
         margin-left: 40px;
      }
   }
}