/*** intro ***/ 

.intro {
   background-color: $backgroundgrey;
   padding-top: 30px;
   padding-bottom: 50px;
   text-align: center;
   .intro-title {
      font-size: 1.5em;
      margin: 0 45px 10px;
   }
   .intro-text {
      margin: 0 20px 40px;
      opacity: 0.7;
   }
   .intro-btn {
      @include btn-lineargradient(15px);
      @include bottom-shadow;
   }
   .intro-btn:hover {
      @include btn-hover
   }

   @media (min-width: 780px) {
      .intro-title {
         font-size: 40px;
         margin-bottom: 30px;
      }
      .intro-text {
         font-size: 18px;
      }
   }
}