.bg_restaurants {
   max-width: 100%;
   object-fit: cover;
}

.main_menu {
   background-color: $backgroundgrey;
   margin-top: -50px;
   padding-top: 25px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   position: relative;
   padding-left: 10px;
   padding-right: 10px;
   .title_div {
      @include flex-center ;
      gap: 30px;
      .main_title {
         font-family: Shrikhand;
         font-weight: 400;
         margin: 0;
      }
      .menu_btn {
         height: 2rem;
         width: 2rem;
         border: none;
         padding: 0;
         @include flex-center ;
         background-color: initial;
         .fa-heart {
            position: absolute;
            padding: 1px;
         }
         .heart_bg {
            opacity: 0;
            color: transparent;
            background-clip: text;
            background-image: linear-gradient($colormain, $colorsecond);
         }
      } 
      .menu_btn:hover {
         .fa-heart {
            transition: 0.5s;
         }
         .heart_bg {
            opacity: 1;      
         }
         .heart_nobg {
            opacity: 0;            
         }
      }
   }
}

.menus {
   padding-top: 0;
   .menu_div {
      .section_title {
         font-family: Roboto;
         font-weight: 300;
         font-size: 16px;
         border-bottom: 4px solid $colorthird;
         padding-bottom: 5px;
         width: 40px;
         margin-top: 20px;
      }

      .menu_card {
         padding: 10px;
         margin-top: 10px;
         position: relative;
         //
         @include flex-column ;
         background-color: white;
         border-radius: 15px;
         @include bottom-shadow ;
      }
   }
}

