.menu_main {
   background-color: $backgroundgrey;
   margin-top: -50px;
   padding-top: 25px;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   position: relative;
   padding-left: 10px;
   padding-right: 10px;
   overflow: hidden ;
   @media (min-width: 780px) {
      max-width: 1200px;
      margin: -50px auto;
   }
   .menu_main_div {
      @include flex-center ;
      gap: 30px;
      .menu_main_div_title {
         font-family: Shrikhand;
         font-weight: 400;
         margin: 0;
      }
      .menu_main_div_btn {
         height: 2rem;
         width: 2rem;
         border: none;
         padding: 0;
         @include flex-center ;
         background-color: initial;
      } 
   }   
   .menu_section {
      padding-top: 0;
      text-align: center;
      @media (min-width: 780px) {
         max-width: 780px;
         margin: 0 auto;
      }
      .menu_section_title {
         font-family: Roboto;
         font-weight: 300;
         font-size: 16px;
         border-bottom: 4px solid $colorthird;
         padding-bottom: 5px;
         width: 40px;
         margin-top: 50px;
         margin-bottom: 15px;
      }
      .menu_card {
         margin-top: 10px;
         text-align: left ;
         @include flex-column ;
         background-color: $colorthird;
         border-radius: 15px;
         @include bottom-shadow ;
         gap: 5px ;
         overflow: hidden;
         .menu_card_content {
            padding: 20px;
            background-color: white;
            position: relative;
            h4 {
               font-size: 18px;
               font-weight: bold;
               @include text-overflow ;
            }
            .menu_card_content_priceline {
               display: flex;
               justify-content: space-between;
               p {
                  font-weight: 300 ;
                  font-size: 15px;
                  @include text-overflow ;
               }
               .menu_price {
                  font-weight: bold;
                  font-size: 16px;
                  overflow: visible;
               }
            }  
            .fa-circle-check {
               position: absolute;
               color: white;
               padding:25px;
               top: 0px ;
               right: -2.5em ;
            }
         } 
      }
   }
}
.menu_btn-gradient {
   @include btn-lineargradient(15px 50px) ;
   margin-top: 30px;
   border: none;
   font-size: large;
   @include bottom-shadow
}

